@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
}
.waves {
  background: url(../assets/images/wave-bg.png) no-repeat;
  background-size: cover;
  background-position: left;
}
.blurr-bg {
  border-radius: 20px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    rgba(232, 114, 35, 0.6);
  backdrop-filter: blur(11px);
  padding: 27px 87px 0;
  max-width: 542px;
  margin: 0 auto;
}
.main-title {
  color: #3a2c23;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}
.login-desc {
  color: #686c78;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ffe2ce;
  background: #fff;
  padding: 14px 28px;
  font-size: 16px;
  line-height: 28px;
  color: #686c78;
}
.otp-inputs input {
  width: 58px;
  padding: 10px;
  height: 58px;
}
ul.navList li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  position: relative;
}
ul.navList li a:before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 6px;
  border-radius: 12px 0px 0px 12px;
  background: #e87223;
}
ul.navList li.active a {
  background: #fff1e8;
  border-radius: 8px;
}
ul.navList li.active a svg path {
  fill: #ed955a;
}
ul.navList li.active a span {
  color: #e87223;
}
ul.navList li a span {
  color: #6b6b6b;
  font-size: 14px;
  font-family: var(--font-inter);
  font-weight: 400;
  line-height: normal;
}
.overflo-custom::-webkit-scrollbar-track {
  background-color: #ffffff;
  height: 6px;
}

.overflo-custom::-webkit-scrollbar {
  width: 6px;
  background-color: #283c63;
  height: 6px;
}

.overflo-custom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #283c6355;
  height: 6px;
}
.section-title {
  color: #3a2c23;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.custom-tabs li.active p svg circle {
  stroke: #e87223;
}

p.circle-bg:before {
  content: "";
  position: absolute;
  bottom: -40px;
  right: -24px;
  width: 155px;
  height: 155px;
  background: #FBE8DC;
  border-radius: 100%;
  z-index: -1;
}
main.layout-right {
  padding: 20px;
  background: #F5F7FA;
  overflow-y: auto;
}
@media screen and (min-width: 1024px)  {
  .layout {
    display: flex;
    height: 100vh;
  }
  .layout-left {
    width: 268px;
  }
  main.layout-right {
    width: calc(100% - 268px);
    padding: 40px 35px;
  }
}
