@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --font-inter: "Inter", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
}

body,
p, li, option, select {
  font-family: var(--font-nunito);
}
button {
  font-family: var(--font-inter) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
  font-weight: 500;
}


